/* layout.css */

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.main {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}



.print-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.print-button:hover {
    background-color: #2980b9;
}

#payrollInfo {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 900px;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
}

#payrollInfo h2, #payrollInfo h3 {
    color: #3498db;
}

#payrollInfo p {
    margin: 0 0 10px;
    line-height: 1.6;
}

#payrollInfo hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}
